.App {
  text-align: center;
}

.submit-button {
  margin-top: 20px;
}

h3 {
  padding: 10px;
}

.image {
  margin: 10px;
  margin-top: 30px;
  background-image: url('./media/model2.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  min-height: 400px;
}

li {
  text-align: left;
}

.links {
  margin-left: 10px;
}

.select-button {
  margin-bottom: 20px;
}

p {
  margin-top: 20px;
}

.buttons {
  margin-left: 10px;
}